In [5]:
#question1
ages = [19,22,19,24,20,25,26,24,25,24]
ages.sort() #sorting the list 
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [6]:
ages.insert(19,26) # adding min and max numbers to the list
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [7]:
#Median of numbers
length  = len(ages)
middle= length //2

if length % 2 == 0:
  median = (ages[middle -1] + ages[middle]) / 2
else :
  median = ages[middle]

  print("Median is :",median)

Median is : 24

In [9]:
#Average of the ages
ages = [19,22,19,24,20,25,26,24,25,24]
length = len(ages) #length of ages
sum_ages = sum(ages)#sum of the ages
average = sum_ages/len(ages)
print(average)

22.8

In [10]:
# range of the ages
ages = [19,22,19,24,20,25,26,24,25,24]
ages.sort()
print(ages)
minimum = ages[0]
maximum = ages[9]
age_range = maximum - minimum
print(age_range)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
7

In [12]:
#question2
dog = {}
dog["name"] = "leo"
dog["color"] = "light brown"
dog["breed"] = " labrodor"
dog["legs"] = "four"
dog["age"] = "2 years"
print(dog)  # create an empty dictionary called dog

{'name': 'leo', 'color': 'light brown', 'breed': ' labrodor', 'legs': 'four', 'age': '2 years'}

In [1]:
student= {"first_name":"hannah", "last_name" : "washington"," gender": "female", "age" :"16 years", 
"marital_status":"single", "skills":["programmer", "soccer_player"],"country": "usa"
,"city":"lees summit", "address": "summit groove apts"}
print(student)
print(len(student)) #Get the length of the student dictionary
print(student.get("skills"))  #Get the value of skills and check the data type, it should be a list
type(student.get("skills"))
student["skills"].insert(0,"tennis player") #Modify the skills values by adding one or two skills
print(type(student.get("skills"))) #Datatype of skills
keys_of_student = student.keys()  #Get the dictionary keys as a list
print(keys_of_student)
values_of_student= student.values()  #Get the dictionary values as a list
print(values_of_student)

{'first_name': 'hannah', 'last_name': 'washington', ' gender': 'female', 'age': '16 years', 'marital_status': 'single', 'skills': ['programmer', 'soccer_player'], 'country': 'usa', 'city': 'lees summit', 'address': 'summit groove apts'}
9
['programmer', 'soccer_player']
<class 'list'>
dict_keys(['first_name', 'last_name', ' gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['hannah', 'washington', 'female', '16 years', 'single', ['tennis player', 'programmer', 'soccer_player'], 'usa', 'lees summit', 'summit groove apts'])

In [15]:
#question3
#Create a tuple containing names of your sisters and your brothers
tuple1 = ['chinnu','sammu']
tuple2 = ['leo','kittu','prasad']
siblings1 = tuple1+ tuple2 #Join brothers and sisters tuples and assign it to siblings
print(siblings1)

['chinnu', 'sammu', 'leo', 'kittu', 'prasad']

In [25]:
#update sibling names to father and mother 
tuple1[0 :]= ['varalakshmi']
print(tuple1)
tuple2[0 :] = ['srinivas']
print(tuple2)
siblings = tuple1 + tuple2
 #update the name siblings to family members
family_member = siblings+siblings1
print(family_member)

['varalakshmi']
['srinivas']
['varalakshmi', 'srinivas', 'chinnu', 'sammu', 'leo', 'kittu', 'prasad']

In [26]:
#question4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)
print("length of it companies is",len(it_companies)) #length of it companies
it_companies.add('Twitter') #add twitter to it_companies
print(it_companies)

length of it companies is 7
{'Twitter', 'IBM', 'Amazon', 'Oracle', 'Google', 'Apple', 'Microsoft', 'Facebook'}

In [32]:
#insert multiple companies to it_companies
x= ('TCS', 'Wipro')
it_companies.update(x)

print("it_companies",it_companies)
#remove one of the it_companies from the set
it_companies.remove('IBM')
print(it_companies)

it_companies {'Amazon', 'Microsoft', 'TCS', 'Twitter', 'Google', 'Apple', 'Facebook', 'IBM', 'Wipro', 'Oracle'}
{'Amazon', 'Microsoft', 'TCS', 'Twitter', 'Google', 'Apple', 'Facebook', 'Wipro', 'Oracle'}

In [33]:
#discard one of the it_companies from th set
it_companies.discard('Google')
print(it_companies)

#Difference between discard() and remove()

#remove() will raise a method if specified item doesnot exist in a list. 
#discard()will not raise an error .

#join A and B
C = A.union(B)
print('union of A and B',C)

#intersection of Aand B
D = A.intersection(B)
print('intersection of Aand B',D)

{'Amazon', 'Microsoft', 'TCS', 'Twitter', 'Apple', 'Facebook', 'Wipro', 'Oracle'}
union of A and B {19, 20, 22, 24, 25, 26, 27, 28}
intersection of Aand B {19, 20, 22, 24, 25, 26}

In [4]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


#? Are both A and B are disjoint Sets
# No Because Both A and B has common numbers 
#join A with B and B with A
E = A.union(B)
F = B.union(A)
print ('join A and B',E)
print('join B with A',F)

# symmetric diffence between A and B
#if we dont have common values  in both the sets(A and B)

#deleting A and B 
del A
del B
#Convert the ages to a set and compare the length of the list and the set.
age_set = set(age)
print(age)
print(age_set)

if len(age)== len(age_set):
    print('lengths are equal')
else:
    print('lengths are not equal')

join A and B {19, 20, 22, 24, 25, 26, 27, 28}
join B with A {19, 20, 22, 24, 25, 26, 27, 28}
[22, 19, 24, 25, 26, 24, 25, 24]
{19, 22, 24, 25, 26}
lengths are not equal

In [35]:
#question5
#Calculate the area of a circle and assign the value to a variable name of _area_of_circle
from math import pi
radius_of_circle= 30
area_of_circle = pi * radius_of_circle *radius_of_circle
print(area_of_circle)
circum_of_circle= 2 *pi*radius_of_circle #Calculate the circumference of a circle and assign the value to a variable name of_circum_of_circle_

print(circum_of_circle)
radius_of_circle2 = float(input("radius is : ")) #Take radius as user input and calculate the area.
print(radius_of_circle2)
area_of_circle2= pi* radius_of_circle2*radius_of_circle2
print(area_of_circle2)

2827.4333882308138
188.49555921538757
radius is : 346.7
346.7
377622.2329789548

In [43]:
#question6
#How many unique words have been used in the sentence? Use the split methods and set 
#to get the unique words.

sentence= "I am a teacher and I love to inspire and teach people"
x= sentence.split()
print(x)
y=set(x)
print(y)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'teacher', 'teach', 'a', 'I', 'am', 'inspire', 'and', 'love', 'people', 'to'}

In [36]:
#question7
#Use a tab escape sequence to get the following lines.
#Name Age Country City 
#Asabeneh 250 Finland Helsinki

print('Name'+ "\t" 'Age'+ "\t" 'Country' 'City' )
print('Asabeneh'+"\t" '250'+"\t" 'Finland' 'Helsinki')

Name	Age	CountryCity
Asabeneh	250	FinlandHelsinki

In [39]:
#question8
#Use the string formatting method to display the following:
#radius = 10
#area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”
print('radius: 10'+"\n",'area:3.14 * radius ** 2'+"\n",
format('“The area of a circle with radius 10 is 314 meters square.”'))

radius: 10
 area:3.14 * radius ** 2
 “The area of a circle with radius 10 is 314 meters square.”

In [45]:
#question9
N=int(input("enter number_of_students"))
Weights_Of_students = []
for i in range(N):
    Weights_Of_students.append(float(input())) # append is used to insert the weights of students through input in list.
print(Weights_Of_students) 
weights_in_kilograms = []
for i in Weights_Of_students:
    weights_in_kilograms.append(round(i/2.205,2))# round of (input ,2)which means it rounds the floating values upto 2 digits 
print(weights_in_kilograms)

enter number_of_students2
150
155
[150.0, 155.0]
[68.03, 70.29]